@import "./reset.scss";
@import "./theme.scss";

/* Global Styles */
html {
  font-family: "Fredoka", sans-serif;
}

body {
  color: $textColor;
  background-color: $bgColor;
}

a {
  color: inherit;
}

button {
  outline: none;
  color: inherit;
  border-radius: 8px;
  font-family: inherit;
  border: 1px solid $textColor;
  background-color: $lightBgColor;
}

button:hover {
  cursor: pointer;
}

/* Global Classes */
.PageContainer {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 64px;

  h1 {
    margin-bottom: 16px;
    font-size: $headerFontSize;
    font-weight: $secondaryFontWeight;
  }

  h2 {
    margin-bottom: 12px;
    font-size: $subHeaderFontSize;
    font-weight: $secondaryFontWeight;
  }
}
