*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
  background: rgb(2,0,36);
  background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 60%, rgba(164,0,255,1) 100%);
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	outline: none;
}

button:hover {
	cursor: pointer;
}