// Colors
$textColor: #ffffff;
$lightTextColor: #5d6068;
$accentColor: #bfb5fc;
$bgColor: #14171f;
$lightBgColor: #242935;

// Typography
$titleFontSize: 20px;
$titleLineHeight: 1.2;

$textFontSize: 14px;
$textLineHeight: 1.4;

$subHeaderFontSize: 36px;
$headerFontSize: 42px;

$primaryFontWeight: 400;
$secondaryFontWeight: 500;
$accentFontWeight: 600;
