@import "./theme.scss";

// Variables
$workoutPreviewMarginTop: 16px;
$workoutPreviewHeight: calc(
  $titleFontSize * $titleLineHeight + $textFontSize * $textLineHeight
);

// WorkoutPreviewCarousel.tsx
.WorkoutPreviewCarouselContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.WorkoutPreviewCarouselShowAllBtn {
  width: 80px;
  height: 32px;
  margin: 12px 0;
}

// WorkoutPreview.tsx
.WorkoutPreviewContainer {
  width: 128px;
  display: flex;
  flex-direction: column;
  height: $workoutPreviewHeight;
  margin-top: $workoutPreviewMarginTop;

  &:first-child {
    margin-top: 0;
  }

  .WorkoutPreviewLink {
    text-decoration: underline;

    &:hover {
      color: $accentColor;
    }

    .WorkoutPreviewTitle {
      font-size: $titleFontSize;
      line-height: $titleLineHeight;
    }
  }

  .WorkoutPreviewText {
    color: $lightTextColor;
    font-size: $textFontSize;
    line-height: $textLineHeight;
  }
}

:export {
  workoutPreviewHeight: $workoutPreviewHeight;
  workoutPreviewMarginTop: $workoutPreviewMarginTop;
}
