@import "./theme.scss";

// Variables
$workoutPreviewMarginTop: 16px;
$workoutPreviewHeight: calc(
  $titleFontSize * $titleLineHeight + $textFontSize * $textLineHeight
);

// WorkoutPreviewCarousel.tsx
.WorkoutPreviewCarouselContainer {
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.WorkoutPreviewCarouselShowAll {
  margin-top: 8px;
}

// WorkoutPreview.tsx
.WorkoutPreviewContainer {
  width: 128px;
  display: flex;
  flex-direction: column;
  height: $workoutPreviewHeight;
  margin-top: $workoutPreviewMarginTop;

  &:first-child {
    margin-top: 0;
  }

  .WorkoutPreviewTitle {
    font-weight: 700;
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
  }

  .WorkoutPreviewText {
    font-size: $textFontSize;
    line-height: $textLineHeight;
  }
}

:export {
  workoutPreviewHeight: $workoutPreviewHeight;
  workoutPreviewMarginTop: $workoutPreviewMarginTop;
}
